.blocoContent{
    display: inline-flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    width: calc(15% - 10px); /* Ajuste a largura conforme necessário */
    min-width: 14em;
    margin-bottom: 10px; /* Ajuste a margem conforme necessário */
}

.contentImg{
    width: calc(100%);
    height: calc(100%);
}

.blocoContent img{
    width: calc(100%);
    height: calc(100%);
    border-radius: 25px 25px 0 0;
}

.blocoText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}