.FormSection{
    display: flex;
    justify-content: center;
}

.Form{
    
    background-color: gray;
    width: calc(50% - 10px);
    min-width: 600px;
    height: 450px;
    margin: 2em 2em 0 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 30px 3em;
}

.Form h1{
    font-size: 2em;
    font-weight: 700;
}